# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Backup
cleanup-backup-*
